<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="jsh.project.board.restapi.dao.BoardMapper">	

	<resultMap id="ArticleResultMap" type="Article">
		<result property="id" column="id"/>
		<result property="writer" column="writer"/>
		<result property="title" column="title"/>
		<result property="content" column="content"/>
		<result property="regDate" column="reg_date" />
	</resultMap>

	<select id = "totalCount" resultType="int">
		SELECT
			count(id)
		FROM 
			test_rest_board
	</select>

	<select id = "list" parameterType="map" resultMap="ArticleResultMap">
		<![CDATA[
			SELECT 
				b.rnum,
				b.id,
				b.writer,
				b.title,
				b.reg_date
			FROM 
				(SELECT 
					rownum AS rnum, 
					a.id, 
					a.writer, 
					a.title, 
					a.reg_date
				FROM(
					SELECT 
						id,
						writer,
						title,
						reg_date 
					FROM 
						test_rest_board
					ORDER BY id DESC)a
				WHERE
					rownum <= #{endCount})b
			WHERE b.rnum >= #{startCount}	
		]]>
	</select>

	<select id = "detail" parameterType="int" resultMap="ArticleResultMap">
		SELECT
			id,
			writer,
			title,
			content,
			reg_date
		FROM
			test_rest_board
		WHERE	
			id = #{id}
	</select>


	<insert id="insert" parameterType="ArticleCreateRequest">
		INSERT INTO 
			test_rest_board
		VALUES(
			test_board_seq.nextval,
			#{writer},
			#{password},
			#{title},
			#{content},
			SYSDATE
		)
	</insert>
	
	<update id="update" parameterType="ArticleUpdateRequest">
		UPDATE 
			test_rest_board
		SET
			TITLE = #{title},
			CONTENT = #{content}
		WHERE
			ID = #{id}
	</update>
	
	<delete id="delete" parameterType="int">
		DELETE
		FROM
			test_rest_board
		WHERE
			id = #{id}
	</delete>

	<select id="passwordCheck" parameterType="ArticlePassword" resultType="int">
		SELECT 
			id
		FROM 
			test_rest_board
		WHERE
			id = #{id} 
		AND
			password = #{password}
	</select>
	
</mapper>